
$mintBtnBgColor: #8859EC;
$mintBtnTextColor: #fff;
$mintBtnWidth: 100%;
$mintBtnHeight: 100%;
$mintBtnFontSize: 1rem;

.mint-button {
    background-color: var(--mintBtnBgColor, $mintBtnBgColor);
    color: var(--mintBtnTextColor, $mintBtnTextColor);
    font-size: var(--mintBtnFontSize, $mintBtnFontSize);
    width: var(--mintBtnWidth, $mintBtnWidth);
    // height: var(--mintBtnHeight, $mintBtnHeight);
}

.split-mint-button, .split-mint-toggle {
    font-size: var(--mintBtnFontSize, $mintBtnFontSize);
    background-color: var(--mintBtnBgColor, $mintBtnBgColor);
    color: var(--mintBtnTextColor, $mintBtnTextColor);
}

$navbarBgColor: #343a40;
$pageBackground: #fff;
$pageTextColor: #8859EC;

.zc-navbar {
    background-color: var(--navbarBgColor, $navbarBgColor);
    color: var(--pageTextColor, $pageTextColor);
}

.zc-text {
    color: var(--pageTextColor, $pageTextColor) !important;
}

.zc-background {
    background-size: 100% 100%;
    background: var(--pageBackground, $pageBackground);
    color: var(--pageTextColor, $pageTextColor);
}

@media (max-width: 600px) {
	.zc-background {
		background-size: cover;
	}
}